@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Navigation */
.nav-container {
  background-color: #ffffff;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 3px 0 40px 1px rgba(122, 122, 122, 0.331);
}

/* Navigation Top */
.nav-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px 0 40px;
}

.nav-container-top img {
  height: 65px;
}

.search-bar {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
}

.search-bar input {
  height: 100%;
  width: 90%;
  padding: 20px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 8%;
}

.search-bar img {
  height: auto;
  width: 10px;
}
/* Auth Actions */
.auth-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Show Cart Button */

.show-cart-btn {
  border: none;
  background-color: transparent;
}

.show-cart-btn img {
  height: auto;
  width: 30px;
}

/* Login・Logout Button */

.login-button {
  border: none;
  background-color: #2f9600;
  padding: 5px 20px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 300;
}

.login-button:hover {
  transition: ease-in-out;
  transition-duration: 300ms;
  background-color: #206500;
}

.logout-button {
  border: none;
  background-color: #960000;
  padding: 5px 20px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 300;
}

.logout-button:hover {
  transition: ease-in-out;
  transition-duration: 300ms;
  background-color: #650000;
}

/* Navigation Bottom */
.nav-container-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
}

.nav-link {
  color: rgb(72, 72, 72);
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  transition: ease-in-out;
  transition-duration: 500ms;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(255, 255, 255);
  color: rgb(72, 72, 72);
  font-size: 10px;
}

/* Add-To-Cart Button */
.add-to-cart-btn {
  background-color: #ff9100;
  border: 2px solid #ffffff;
  height: 50px;
  width: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #ffffff;
  border: 2px solid #ff9100;
}

.add-to-cart-btn img {
  height: 20px;
  width: auto;
}

.item-show-detail {
  background-color: #2f4fff;
  border: 2px solid #2f4fff;
  color: #ffffff;
  border-radius: 7px;
  padding: 5px;
  transition: 300ms;
}

.item-show-detail:hover {
  background-color: #ffffff;
  border: 2px solid #2f4fff;
  color: #2f4fff;
}

/* Login Page */
.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.login-page-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-page-form button {
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #2f4fff;
  color: white;
}

.login-page-form button:hover {
  background-color: #2640d5;
}

.register-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.register-page-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.register-page-form button {
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #089a00;
  color: white;
}

.register-page-form button:hover {
  background-color: #077301;
}
