/* Home Container */
/* .home-container {
} */

.greeting-container {
  height: 70vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-container p {
  font-size: xx-large;
}

/* Recommend Container */
.recommend-container {
  padding: 20px;
  overflow: hidden;
}

/* Horizontal Scroll Container */
.recommend-scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  scrollbar-width: none;
}

.recommend-scroll::-webkit-scrollbar {
  display: none;
}

/* Individual Item Card */
.recommend-item-card {
  width: 300px;
  flex-shrink: 0;
  scroll-snap-align: start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.recommend-item-card:hover {
  transform: scale(1.1);
  box-shadow: 5px 8px 15px 2px rgb(0, 0, 0, 0.3);
  position: relative;
  z-index: 100;
}

/* Card Image */
.recommend-item-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Optional: Basic styling for the card body text/actions */
.recommend-item-card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.recommend-item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-image-container {
  height: 500px;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
