.products-container {
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-container {
  min-height: 300px;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 4px 5px 1px rgb(0, 0, 0, 0.4);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.product-container:hover {
  transform: scale(1.1);
  box-shadow: 5px 8px 15px 2px rgb(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}

.product-container img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: #f9f9f9;
  box-sizing: border-box;
  flex-grow: 1;
}

.product-details h3,
.product-details p:first-child {
  margin: 0 0 8px 0;
  font-size: 1rem;
  line-height: 1.2;

  /* Limits text to exactly 2 lines, then adds "..." */
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.product-details .add-to-cart-btn {
  width: 100%;
  margin-top: auto;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.recommend-item-price .add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
